div.about-item {
    height: 10vh;
}

#info {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

section#about{
    height: 150vh !important;
}

#info div {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    align-items: center;
    width: 80vw;
    padding-top: 2%; 
}

#info div:nth-child(even) { flex-direction: row-reverse }

#info div img {
    height: 20vh;
    width: 30vw;
}

<<<<<<< HEAD
=======
div.carousel-override{
    height: 80vh !important;
}

>>>>>>> 956c52735b57089ef544be9d2e84bc633df517f5
@media (max-aspect-ratio: 1/1){

    div.carousel-override{
        height: 90vh !important;
        top: 15vh;
    }

    main section{
        margin-top: 10vh;
    }
<<<<<<< HEAD
=======

    div#info{
        margin-top: -25vh;
    }

    section#about{
        height: 350vh !important;
    }
>>>>>>> 956c52735b57089ef544be9d2e84bc633df517f5
    
}
