footer{
    color: #fff;
    height: 30vh;
    background: linear-gradient(180deg,#379846, #298036);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .side{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center
}
footer .side hr{
    width: 50%;
<<<<<<< HEAD
    background-color: #fff;
    border: 1px solid white;
    margin-top: 1vh;
    margin-bottom: 1vh;
=======
    background-color: #fff
>>>>>>> 956c52735b57089ef544be9d2e84bc633df517f5
}
footer .side h2{
    text-align: center;
    font-size: 2em
}
footer .side span{
    font-size: 1.2em;
    text-align: center;
    width: 80%
}

@media (max-aspect-ratio: 1/1){
    footer{
        flex-direction: column;
        height: 60vh;
    }
    footer .side{
        width: 100%;
    }
    footer .side hr{
        width: 80%;
    }
}