section {
    height: auto !important;
}
section div.carousel div.window{
    display: flex;
    justify-content: space-evenly;
}

section div.carousel div.window div.window-item{
    flex-grow: 1;
}

.header{
    width: 90vw;
    background-image: url("../img/hackathon/banner-facepx.png");
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 5vh !important;
}
section div.center{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
section div.center h1,h2{
    text-align: center
}
section div.center h1{
    margin: 5vh;
    font-size: 9vmin;
}
section div.center p{
    width: 80%;
    font-size: 1.5em;
}
section div.center ul{
    width: 80%;
    font-size: 1.5em;
}
section div.center ul li{
    margin-top: 2em
} 
section div#content{
    margin-top: 5vh;
}
div.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.info div.center{
    background-image: url('../img/hackathon/final1.png');
    height: 50vmin;
    width: 50vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}
div.item hr{
    border: 1px solid #333;
    width: 80vw;
}
div.item div{
    margin: 10vh 0;
}
div.parl{
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    background-size: cover;
}
div.about div.parl{
    background-image: url('../img/hackathon/about.jpg');
}
div.how-works div.parl{
    background-image: url('../img/hackathon/hack.jpg');
}
div.before div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center
}
div.before{
    display: flex;
    flex-direction: column
}
div.before p{
    text-align: center
}
div.before div img{
    width: 60vw;
    height: auto;
}
div.before div.rewards{
    width: 100vw;
    display: block;
    background: rgba(255, 255, 255, .4)
}
div.before div.rewards img{
    height: 80vh;
    width: auto;
}
div.before div ul{
    display: none
}

@media (max-aspect-ratio: 1/1){
    section{
        margin-top: 5vh;
    }
    div.before div{
        width: 100%;
        flex-direction: column
    }
    div.before div img{
        width: 100%;
    }
    div.before div.rewards img{
         width: 100%;
         height: auto;
    }
    div.before div.rewards ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}