section div.center ul{
    font-size: 1.1em;
}
section div.center ul li {
    margin-top: 1em;
}

section div.center div.ul-container{
    width: 70vw;
    display: flex;
}

section div.center div.ul-container ul{
    flex-grow: 1;
}

button.g-form{
    width: 20vw;
    height: 10vh;
    background: #379846;
}
p.mt-5 span{
    text-decoration: line-through;
}
section div.center div.send{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
}
section div.center div h2{
    margin-bottom: 5vh
}
section div.center div h3{
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
}

section div.center div.data-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-aspect-ratio: 1/1){
    section div.center div.ul-container{
        flex-direction: column;
        width: 90vw;
    }

    button.g-form{
        width: 70vw;
        height: 10vh;
        background: #379846;
    }

    section div.center div.data-container{
        width: 100vw;
        justify-content: center;
        align-items: center;
    }    
}

a.green-link{
    color: #379846 !important;
    text-decoration: underline;
}