:root {
	--corFundo: #efefef;
    --corPrincipal: #225231;
    --corBorda: black;
    --corBordaTop: #BEBEBE;
    --corTitulo: white;
    --corTexto: black;
    --corBotao: #225231;
    --corTextoBotao: white;
    --corPlaceholder: #BEBEBE;
    --tamContainerListarAtividades: 100%;
    --corFundoTags: white;
}
